@font-face {
    font-family: "Montserrat, medium";
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: "Montserrat, bold";
    src: url('../fonts/Montserrat-Bold.ttf');
}

.dato {
    padding-bottom: 1rem;
}

.wp-block-columns {
    display: flex;
    padding-bottom: 1rem;
    margin: 0rem;

    figure {
        display: flex;
        justify-content: center;
    }

    img {
        width: 80%;
    }

    .wp-block-column {
        p {
            text-align: justify;
        }
    }
}

.principal-image {
    @media (max-width: 1200px){
        padding-top: 9rem;
    }

    @media (max-width: 1023px){
        padding-top: 7rem;
    }
}

.heridas-tabs.Mui-selected {
    background-color: #e3e3e3 !important;
    color: #121111 !important;
    font-weight: 600;
}

.heridas-tabs {
    color: #fff !important;
    background-color: #8A8A8A !important;
}


.slick-prev:before, .slick-next:before {
    color: #B2B2B2;
    font-size: 60px;
}

.slick-prev {
    left: -70px;
}



.css-6j8wv5-Input {
    height: 52px;
}

.css-26l3qy-menu {
    z-index: 1 !important;
    display: block !important;
}

.css-1s2u09g-control {
    background-color: transparent !important;
}

.dropdown-menu {
    .show {
        width: 20rem !important;
    }
    .MuiButton-text {
        width: 100%;

        a {
            &:hover {
                color: #fff !important;

            }
        }
        &:hover {
            background-color: #004289;
            color: #fff !important;
        }
    }
}

.MuiTabPanel-root {
    background-color: transparent;
    padding: 0 !important;
}

.tad-cuidadores {
    background-color: #0080FB !important;
    color: #fff !important;
    font-weight: 600;
}

.tad-cuidadores.Mui-selected {
    color: #fff !important;
    background-color: #004282 !important;
}

.dropdown-menu {
    width: 13rem;
    padding: 0;
}

.css-11lq3yg-MuiGrid-root {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.cuadroazul {
    width: 78%;
    margin-left: 13%;
}

@media (max-width: 1023px) {
    .tabs {
        width: 100vw;
        padding-right: 30px;

        .MuiTabs-scroller {
            overflow: scroll !important;
        }
    }

    .container-tab {
        padding-right: 30px;
    }

    .cuadroazul {
        width: 100%;
        margin-left: 0%;

        .MuiTabs-flexContainer {
            overflow: auto;
        }
    }
}

.MuiPaper-root {
    width: 100%;
}

.MuiModal-root {
    background: #00000050;
}

.MuiBackdrop-root {
    background-color: transparent !important;
}

.drop {
    .MuiPaper-root {
        border-radius: 15px !important;
    }
}